<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section >
    <div class="container pt-5">
        <div class="card mr-3 ml-3 mt-3">
            <div class="card-body">
                <h1 class="text-center" style="color:#4CC082;font-family:Playwrite CZ, cursive;">Add Contact</h1>
                <div class="container mt-1">
                    <div class="row">
                        <div class="offset-md-1">
                            <form action="#" th:object="${contact}"
                                  enctype="multipart/form-data" method="POST"
                                  th:action="@{/user/process-contact}" class="mt-2">
                                <!-- First Name -->
                                <div class="row">
                                    <div class="input-group col-md-4 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                        <input required="required" type="text" id="firstName"
                                               name="name" placeholder="Enter Name Here"
                                               class="form-control"/>
                                    </div>

                                    <!-- Second Name -->
                                    <div class="input-group mt-3 col-md-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-user-alt"></i>
                                            </div>
                                        </div>
                                        <input required="required" type="text" id="secondName"
                                               name="secondName" placeholder="Enter Nick Name Here"
                                               class="form-control"/>
                                    </div>

                                    <!-- Phone Field -->
                                    <div class="input-group mt-3 col-md-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <input required="required" type="number" min="10" id="phone"
                                               name="phone" placeholder="Enter Phone Number Here"
                                               class="form-control"/>
                                    </div>
                                </div>

                                <!-- Email Fields -->
                                <div class="row">
                                    <div class="input-group col-md-4 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-at"></i>
                                            </div>
                                        </div>
                                        <input required="required" type="email" id="email" name="email"
                                               placeholder="Enter Email Here" class="form-control"/>
                                    </div>

                                    <!-- Work Fields -->
                                    <div class="input-group col-md-4 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                        <input required="required" type="text" id="work" name="work"
                                               placeholder="Enter Work Here" class="form-control"/>
                                    </div>

                                    <!-- Contact Description Fields -->
                                    <div class="div custom-file col-md-4 mt-3">
                                        <input type="file" name="profileImage"/>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea name="description"
                                              placeholder="Enter contact description" id="mytextarea"
                                              rows="3" class="form-control"></textarea>
                                </div>

                                <!-- Contact image -->
                                <div class="container text-center">
                                    <button class="btn " style="background-color:#4CC082;color:white;">Save Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show Contacts Section -->
        <div class="card mx-3 my-3">
			<div class="card-body">
				<h1 class="text-center" style="color:#4CC082;font-family:Playwrite CZ, cursive;">Your Contacts</h1>
				
				<div class="search-container my-3">
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts" />
					<div class="search-result"></div>
				</div>
				
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${contacts}">
								<th scope="row" th:text="'SCMUSER'+${c.cId}">1</th>
								<td>
									<img src="" class="rounded-circle mr-2" style="height: 40px; width: 40px;" th:src="@{'/img/'+${c.image}}" alt="Profile picture" />
									<span th:text="${c.name}"></span>
								</td>
								<td>
									<a th:href="@{'/user/'+${c.cId}+'/contact'}" th:text="${c.email}"></a>
								</td>
								<td th:text="${c.phone}">@mdo</td>
								<td class="d-flex">
									<a th:onClick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm mr-2">
										<i class="fas fa-trash-alt" style="color:white;"></i>
									</a>
									<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
										<button type="submit" class="btn btn-success btn-sm">
											<i class="fas fa-edit"></i>
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li th:if="${currentPage != 0}" class="page-item">
							<a th:href="@{'/user/add_contact_form/'+${currentPage-1}}" class="page-link" style="color:#4CC082;">Previous</a>
						</li>
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
							<a th:href="@{'/user/add_contact_form/'+${i-1}}" class="page-link" style="color:white; background-color: #4CC082;">
								<span th:text="${i}"></span>
							</a>
						</li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item">
							<a th:href="@{'/user/add_contact_form/'+${currentPage+1}}" class="page-link" style="color:#4CC082;">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
</section>
</body>
</html>
